* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
  background: #fffefe;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /*border: 2px solid red;*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ---------- World Layers ---------- */
.platform,
.obstacle,
.player {
  position: absolute;
}

/* Camadas do mundo */
.platform {
  z-index: 1;
  pointer-events: none;
}

.obstacle {
  z-index: 2;
  pointer-events: none;
}

.player {
  z-index: 10;
}

.platform img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: -55px;

  width: 140%;
  height: auto;

  pointer-events: none;
  user-select: none;
}

.obstacle img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 800%;
  height: auto;

  pointer-events: none;
  user-select: none;
}

.player img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: auto;
  height: 30px;

  pointer-events: none;
  user-select: none;
}

.hidden {
  display: none;
}

#menu-panel {
  position: absolute;
  inset: 0;
  background: #cee8e5;
  z-index: 200;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 0 8vw; /* 👈 controla distância ao centro */
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.how-to {
  min-height: 370px;
  min-width: 260px;

  padding: 24px 22px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.how-to h3 {
  font-size: 50px;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #498fbb;
  margin: 0 0 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.how-to ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.how-to li {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 16px;
  font-weight: 500;
  color: #202020;
}

.how-to li span {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 32px;
  height: 32px;

  border-radius: 8px;
  background: #ef9ce2;
  color: white;

  font-size: 16px;
  font-weight: 700;
}

.how-to p::before {
  content: "• ";
  color: #ef9ce2;
}

#menu-panel button {
  min-width: 260px;
  padding: 22px 36px;

  font-size: 22px;
  font-weight: 700;

  border-radius: 18px;
  border: none;

  background: #ef9ce2;
  color: #ffffff;

  cursor: pointer;
  letter-spacing: 1px;

  box-shadow: 0 8px 0 #d97bc8;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

#menu-panel button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 0 #d97bc8;
}

#menu-panel button:active {
  transform: translateY(6px);
  box-shadow: 0 2px 0 #d97bc8;
}

#menu-panel.hidden {
  display: none;
}

.line {
  border: none; /* remove o default */
  border-top: 3px solid #a2d6e3; /* a linha visível */
  margin: 16px 0 20px;
}

#overlay {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);

  z-index: 100;
}

#overlay.hidden {
  display: none;
}

.panel {
  padding: 40px 40px;
  min-width: 200px;
  min-height: 150px;

  background: linear-gradient(180deg, #f4a0d9 0%, #fbcbf1 100%);

  border-radius: 12px;

  text-align: center;
}

.panel p {
  margin: 0 0 28px;

  font-family: "Tiny5", monospace;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;

  color: hsl(0, 0%, 100%);
}
