* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
  background: #030303;
}

#game {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  border: 2px solid red;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#game-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 100; /* acima de tudo */
}

#game-overlay.hidden {
  display: none;
}

#overlay-text {
  padding: 60px 100px;
  background: black;
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;

  border: 4px solid red;
  outline: 4px solid red;
  outline-offset: 8px;
}

/* ---------- World Layers ---------- */
.platform,
.obstacle,
.player {
  position: absolute;
}

/* Camadas do mundo */
.platform {
  z-index: 1;
  pointer-events: none;
}

.obstacle {
  z-index: 2;
  pointer-events: none;
}

.player {
  z-index: 10;
}

.platform img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin-bottom: -55px;

  width: 140%;
  height: auto;

  pointer-events: none;
  user-select: none;
}

.obstacle img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: 800%;
  height: auto;

  pointer-events: none;
  user-select: none;
}

.player img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  width: auto;
  height: 30px;

  pointer-events: none;
  user-select: none;
}
