* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui, sans-serif;
  background: #030303;
}

#game {
  width: 800px;
  height: 450px;
  border: 2px solid #ff0000;
  position: relative;
  overflow: hidden;

  background-image: url("./assets/fundo.png");

  background-repeat: repeat-x; /* loop horizontal */
  background-size: auto 100%; /* ALTURA = jogo */
  background-position: 0 bottom; /* alinha chão */
}

#player {
  position: absolute;
}

#player img {
  position: absolute;

  width: auto;
  height: 30px;

  left: 50%;
  bottom: 0;

  transform: translateX(-50%);
  pointer-events: none;
  user-select: none;
}

#game-overlay {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10;
}

#game-overlay.hidden {
  display: none;
}

#overlay-text {
  padding: 60px 100px;
  background: black;
  color: white;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;

  border: 4px solid red; /* primeira borda */
  outline: 4px solid red; /* segunda borda */
  outline-offset: 8px; /* distância entre bordas */
}

.platform {
  position: absolute;
  background: #828080;
  border-radius: 4px;
}

.obstacle {
  position: absolute;
  background: rgb(19, 81, 189);
}
